<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ntz.tarzcalculator"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Tarzo Calculator</name>

  <description>
      2+2=4.
  </description>

  <author href="https://build.phonegap.com" email="irfaannubee555@gmail.com">
      Tarzo The Great
  </author>

</widget>